!!!
%html
  %head
    %title ETA Notifications
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = csrf_meta_tags
  %body
    .container
      - if flash[:notice]
        .alert.alert-success.alert-dismissible{ role: "alert" }
          %button.close{ "data-dismiss" => "alert", "aria-label" => "Close"}
            %span{ "aria-hidden" => "true"} &times;
          =flash[:notice]

      = yield

    %footer.container
      Made with <i class="fa fa-heart"></i> by your pals <a href="http://www.twilio.com">@twilio</a>.

    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
